@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Reset and base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h2,
h3,
p,
ul {
  font-family: 'DM Sans', sans-serif;
}

ul {
  list-style: none;
}

/* Layout */
html,
body {
  height: 100%;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background: url(./assets/hero_img.jpg) no-repeat center top / 100%;
  background-color: #040711;
  color: #f9fafb;
}

/* Header */
.header {
  text-align: center;
  margin: 5.75rem 0 3.25rem;
}

/* Main app layout */
.translate-app {
  /* Add styles if needed */
}

.translate-form {
  display: flex;
  padding: 0 4.5rem;
  gap: 1rem;
  height: 100%;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .translate-form {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .translate-form {
    padding: 0 1.5rem;
  }
}

/* Textarea components */
.translate-form-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 340px;
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid #4d5562;
  background-color: rgba(33, 41, 54, 0.8);
}

.translate-form-textarea:last-child {
  background-color: rgba(18, 24, 38, 0.8);
}

.translate-form-textarea .top {
  display: flex;
  position: relative;
  gap: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.translate-form-textarea .top span,
.translate-form-textarea .top > div {
  position: relative;
  height: 100%;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.translate-form-textarea .top span {
  border-radius: 0.5rem;
}

.translate-form-textarea .top .selected-language {
  background: #4d5562;
}

.translate-form-textarea .top #input-detect-language-btn:hover {
  background: #4d5562;
}

#swap-languages-btn {
  cursor: pointer;
  border: 2px solid #4d5562;
  border-radius: 0.85rem;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
}

.translate-form-textarea .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.translate-form-textarea .bottom textarea {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  resize: none;
  outline: none;
  color: #f9fafb;
}

.translate-form-textarea .bottom .translate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #3662e3;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #7ca9f3;
  color: #f9fafb;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.translate-form-textarea-buttons-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.translate-form-textarea-buttons {
  display: flex;
  gap: 0.5rem;
}

.translate-form-textarea-buttons > button {
  cursor: pointer;
  border: 2px solid #4d5562;
  border-radius: 0.85rem;
  background: none;
  padding: 0.5rem;
}

/* Dropdown */
.translate-form [data-type='dropdown'] {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.25rem;
}

.dropdown-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  min-width: 80px;
  max-height: 200px;
  background-color: #394150;
  border-radius: 0.25rem;
  border: 1px solid #4d5562;
  z-index: 10;
  overflow-y: auto;
}

.dropdown-list li {
  padding: 0.5rem 0 0.5rem 0.25rem;
  cursor: pointer;
}

/* Divider */
.translate-form-textarea-divider {
  border: 1px solid #394150;
  width: 100%;
  margin: 1rem 0 1.5rem;
}
